--extra-index-url https://download.pytorch.org/whl/cu121
filetype==1.2.0
gradio==3.50.2
numpy==1.26.2
onnx==1.15.0
onnxruntime==1.16.3
opencv-python==4.8.1.78
#opennsfw2==0.10.2
pillow==10.0.1
protobuf==4.24.2
psutil==5.9.6
realesrgan==0.3.0
tqdm==4.66.1
